<li class="icon">
  {{#frost-button
    "application"
    priority="tertiary"
    size="medium"
  }}
    {{frost-icon icon="frost/home"}}
  {{/frost-button}}
</li>
{{#each links as |link|}}
  <li class="text">
    {{#frost-link
      link.route
      priority="secondary"
      size="medium"
    }}
      {{link.label}}
    {{/frost-link}}
  </li>
{{/each}}
<li class="icon">
  {{#frost-button
    priority="tertiary"
    size="medium"
  }}
    {{t "layout.mainMenu.links.more"}}
  {{/frost-button}}
</li>
