@import 'node_modules/ember-frost-core/addon/styles/addon';

$app-bar-background-color: #fff;
$dark-color: #4b596c;
$h1-margin: 0;
$main-menu-margin: 0;
$search-button-margin: 1px 1px 0 0;
$search-input-svg-fill: #fff;

body {
  background-color: $dark-color;

  > div > header {
    text-align: center;
  }
}

h1 {
  margin: $h1-margin;
  padding: 20px 0;
}

.app-bar {
  display: flex;
  background-color: $app-bar-background-color;
  text-align: left;

  .main-menu {
    flex-grow: 1;
  }

  .search-input {
    justify-content: flex-end; // Make sure search is aligned to the right
  }
}


.frost-link {
  &.secondary {
    border: 0;
    color: $dark-color;

    .text {
      border-bottom-width: 2px;
    }

    &:hover {
      &:not(.disabled) {
        background: transparent;

        .text {
          border-bottom-width: 2px;
        }
      }
    }
  }
}

.main-menu {
  display: flex;
  flex-wrap: nowrap; // Keep menu on one line
  margin: $main-menu-margin;
  padding: 0;
  overflow: hidden; // Keep menu from being too wide
  list-style-type: none;

  .frost-link {
    &.secondary {
      &:focus {
        outline: 0;
        box-shadow: none;
      }
    }
  }

  li {
    display: inline-block;

    .text {
      border-top: 2px solid transparent;
    }

    &.icon {
      .text {
        display: flex;
      }
    }
  }

  .frost-link > .content {
    min-width: inherit;
  }

  .hide {
    display: none;
  }
}

.menu-item {
  > ul {
    display: none;
    position: absolute;
    float: left;
  }

  &:hover {
    ul {
      display: block;
    }
  }
}

.search-input {
  display: flex;

  .frost-button {
    height: 38px;
    margin: $search-button-margin;
  }

  input {
    height: 38px;
  }

  line,
  path {
    fill: $search-input-svg-fill;
  }

  .frost-text {
    width: 300px;
  }
}
