@import 'frost-theme';
@import 'frost-app';
@import 'typography';

$dark-color: #4b596c;

body {
  background-color: $dark-color;

  > div > header {
    text-align: center;
  }
}

h1 {
  margin: 0;
  padding: 20px 0;
}

.frost-link.secondary {
  border: 0;
  color: $dark-color;

  .text {
    border-bottom-width: 2px;
  }

  &:hover:not(.disabled) {
    background: transparent;

    .text {
      border-bottom-width: 2px;
    }
  }
}

.main-menu {
  background-color: #fff;
  text-align: left;

  li {
    display: inline-block;
  }

  ul {
    float: left;
    list-style-type: none;
    margin: 0;
  }

  .search {
    display: flex;
    float: right;

    button {
      height: 38px;
      margin: 1px 1px 0 0;
    }

    input {
      height: 38px;
    }

    line, path {
      fill: #fff;
    }

    .frost-text {
      width: 300px;
    }
  }
}
